.aligning5{
    margin-top: 5rem;
}

.image-style{
    width: 15rem;
    height: 15rem;
}


@media screen and (max-width: 480px) {
    .image-style{
        width: 6rem;
        height: 6rem;
    }

}